@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components {
  .btn-primary {
    @apply bg-primary text-[#fff] rounded-[6px] p-2;
  }
  .btn-primary-outline {
    @apply border-primary rounded-[6px] text-primary hover:bg-primary hover:text-[#fff] border-[1px] h-[48px] grid place-content-center w-full  text-center;
  }
}
.active-nav {
  color: #f5333f;
}
.active-nav svg path {
  fill: #f5333f;
}

/* breadcrumb */
.breadcrumb li {
  color: #f5333f;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 14px;
}
.breadcrumb li:not(:last-child):after {
  content: "";
  background-image: url("../assets/Chevron-right.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20px;
  width: 20px;
  display: block;
}
.breadcrumb li:last-child {
  color: #999999;
}
.carousel .slide {
  display: none;
}
.carousel .slide.active {
  display: block;
}
.medsos svg path {
  stroke: #2c373e;
}
.medsos li {
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 100px;
  display: grid;
  place-content: center;
}
.medsos li:hover {
  background-color: #2c373e;
}
.medsos li:hover svg path {
  stroke: #fff;
}
.humberger {
  display: none;
}
.humberger svg {
  height: 20px;
  width: 20px;
}

@media (max-width: 1024px) {
  body.active .nav-menu {
    display: block;
  }
  .nav-menu {
    display: none;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 80px;
    padding-top: 30px;
    padding-left: 20px;
    width: 70%;
    z-index: 9999;
    background-color: #fff;
  }
  .nav-menu ul {
    display: block;
  }

  .humberger {
    display: block;
  }
}
